@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
 
.container {
   width: 100vw;
   height: 100vh;
   display: flex;
}
 
.fields {
   width: 30vw;
   border-right: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
 
.history {
   width: 70vw;
   padding: 2em;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   overflow: none;
}
 
.btn {
   margin-top: 1em;
   border-radius: 3px;
   border-style: none;
}
.btn, .showHistory:hover{
    cursor: pointer;
    background-color: darkgrey;
}
form{
    border: 1px solid ;
    width: 350px;
    height: 150px;
    text-align: center;
    margin: 25px;
    padding-top: 15px;
    background-color: #6778DF;
    margin-bottom: 5px;
}
.showHistory{
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.history{
    width: 350px;
    margin: 25px;
    font-style: italic;
    color: slategrey;
    margin-top: 0px;
}